{%extends'base.html'%}

{%block content%}
<br>
<div style=" width:80%;margin: auto;padding: 1%;" class="card">
<p class="present">
    این برنامه توسط هنرجویان رشته برنامه نویسی کامپیوتر در پژوهش سرای شهید اسدی ساوه برنامه نویسی و تدوین شده است.
</p>
    <p class="present">این برنامه به صورت تحت شبکه طراحی شده است که کاربران می توانند این نرم افزار را در یک شبکه
    محلی بر روی کامپیوتر های مختلف به اشتراک بگذارند.
    این نرم افزار توانایی ذخیره سازی کتاب ها و مراجعه کنندگان یک کتابخانه را داراست و می تواند علاوه بر ثبت کتب به امانت برده شده تاریخچه امانت هر کتاب و
    تاریخچه کتاب های به امانت برده شده توسط هر مراجعه کننده را ثبت و نگهداری کند.</p>
    <p>سرپرست برنامه نویسان سینا مجیدی</p>
    <p>sin.majidi@gmail.com</p>
    <p class="present">تلفن تماس: 42250679-086</p>
</div>
<button onclick="history.back()" class="btn btn-outline-danger">بازگشت</button>
{%endblock%}