{%extends'base.html'%}

{%block content%}
<form action="" method="POST">
    <div style="text-align:center;">
    <p align="center">ویرایش دانش آموز</p>
        <hr>
    <form>
        <label for="student_name">نام:</label>
    <input class="pass"  type="text" align="center" placeholder="نام" name="student_name" value={{student.student_name}} required>
        <br>
        <label for="student_family">نام خانوادگی:</label>
         <input class="pass"  type="text" align="center" placeholder="نام خانوادگی" name="student_family" value={{student.student_family}} required>
        <br>
        <label for="student_id_code">کد ملی:</label>
        <input class="pass"  type="text" align="center" placeholder="کد ملی " name="student_id_code" value={{student.student_id_code}} id="id-code" required>
         <p style="color: red;font-size: 10px" id="id-code-warning" align="center"></p>
        <br>
        <label for="student_number">شماره دانش آموزی:</label>
         <input class="pass"  type="text" align="center" placeholder="شماره دانش آموزی " name="student_number" value={{student.student_number}} required>
        <br>
        <label for="student_phone">تلفن دانش آموز:</label>
        <input class="pass"  type="text" align="center" placeholder=" تلفن دانش آموز" name="student_phone" value={{student.student_phone}} pattern="09(0[1-2]|1[0-9]|3[0-9]|2[0-1])-?[0-9]{3}-?[0-9]{4}" oninvalid="setCustomValidity('فرمت شماره تلفن صحیح نیست ')" onchange="try{setCustomValidity('')}catch(e){}" required>
        <br>
        <label for="student_parent_phone">تلفن ولی دانش آموز:</label>
         <input class="pass"  type="text" align="center" placeholder=" تلفن ولی دانش آموز" name="student_parent_phone" value={{student.student_parent_phone}} pattern="09(0[1-2]|1[0-9]|3[0-9]|2[0-1])-?[0-9]{3}-?[0-9]{4}" oninvalid="setCustomValidity('فرمت شماره تلفن صحیح نیست ')" onchange="try{setCustomValidity('')}catch(e){}" required>
        <br>
        <label for="home_phone">تلفن منزل:</label>
         <input class="pass"  type="text" align="center" placeholder="تلفن منزل" name="home_phone" value={{student.home_phone}} >
        <br>

        <center>
            <br>
        <input  type="submit" class="btn btn-outline-primary" role="button" id="check"  value="ویرایش">

                       <button onclick="history.back()" class="btn btn-outline-danger">بازگشت</button>
</center>
    </form>
    </div>
</form>
<script>
    selectElement=document.getElementById('id-code')
    selectElement.addEventListener('change', (event) => {
var xv = selectElement.value;
    if (isNaN(xv)) {
        document.getElementById("check").disabled = true;
        document.getElementById("id-code-warning").innerHTML="* کد ملی را به صورت صحیح وارد کنید";
    } else if (xv == "") {
        document.getElementById("check").disabled = false;
        document.getElementById("id-code-warning").innerHTML="";
    } else if (xv.length < 10) {
        document.getElementById("check").disabled = true;
        document.getElementById("id-code-warning").innerHTML="* کد ملی را به صورت صحیح وارد کنید";
    } else {
        var yy = 0;
        var yv = parseInt(yv);
        for (let i = 0; i < xv.length; i++) {
            yv = xv[i] * (xv.length - i);
            yy += yv;
        }
        var x = yy % 11;
        if (x === 0) {
            document.getElementById("check").disabled = false;
            document.getElementById("id-code-warning").innerHTML="";

        } else {
            document.getElementById("check").disabled = true;
            document.getElementById("id-code-warning").innerHTML="* کد ملی را به صورت صحیح وارد کنید";
        }
        yy = 0;
    }

});
</script>
{%endblock%}